body {
  font-family: sans-serif;
  line-height: 1.5;
  width: 450px;
  margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 0;
  text-align: left;
}

input,
button,
textarea,
select {
  margin: 0;
  padding: 0;
  border: none;
  background: none;
  font: inherit;
}

button:focus,
input:focus,
textarea:focus {
  outline: none;
}
